<!-- app/views/books/new.html.erb -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="card-title">Add New Book</h5>
        </div>

        <div class="card-body">
          <%= form_with(model: @book, local: true) do |form| %>
            <% if @book.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

                <ul>
                  <% @book.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="mb-3">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control', placeholder: 'Title of the book' %>
            </div>

            <div class="mb-3">
              <%= form.label :release_date %>
              <%= form.date_field :release_date, class: 'form-control' %>
            </div>

            <div class="mb-3">
              <%= form.label :author_id, 'Author' %>
              <%= form.collection_select :author_id, Author.all, :id, :name, { prompt: true }, { class: 'form-control' } %>
            </div>

            <div class="mb-3">
              <%= form.submit 'Save', class: 'btn btn-success' %>
              <%= link_to 'Cancel', books_path, class: 'btn btn-danger' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
